body {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    align-items: center;
    text-align: center;
    /*letter-spacing: 0.16em;*/
}

#close{
    display: none;
}

.header {
    width: 100%;
    height: 140vh;
    background: url("../img/header.JPG") no-repeat;
    background-size: 100% auto;
    margin: 0px;
    /*padding: 20px;*/
    font-size: 22px;
    font-weight: 600;
    /*margin-bottom: -50px;*/
}   
.logo {
    width: 330px;
    height: 270px;
    margin-top: 0px;
    margin-right: 0px;
    background: url("../img/logo.png");
    background-size: cover;
}

.header .zagolovok{
    position: absolute;
    width: 750px;
    height: 200px;
    top: 90px;
    right: 110px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    padding: 0px;
    align-items: center;

}

.zagolovok h1{
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    margin-top: none;
    padding: 0px;
    align-items: center;
    text-align: center;
    
}

.header .button1{
    position: absolute;
    right: 310px;
    margin-top: 40px;
}

.header .learn39{
    width: 500px;
    position: absolute;
    bottom: -60px;
    left: 35px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.header .expirience{
    width: 500px;
    position: absolute;
    right: 300px;
    bottom: -190px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.header .metodiki{
    width: 250px;
    position: absolute;
    right: 70px;
    bottom: -90px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.border {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    /*align-items: center;*/
    /*background: #c3c3c3;*/
    border-radius: 30px;
    /*height: auto;*/
    /*background: url("../img/border-page.png");
    background-size: cover;*/
    /*z-index: 0;*/
    margin: 0px;
    margin-top: -45px;
    margin-bottom: -45px;  
    /*margin-left: 0px; 
    margin-right: 0px;*/
    /*padding: 0px;*/
    /*z-index: 1;*/
    font-weight: normal;
}

.borderLeft {
    background: linear-gradient(#036D32, #40A067);
    border-radius: 30px;
    font-size: 36px;
    padding-top: 10px;
    z-index: 1;
}

.borderCenter {
    background: white;
    border-radius: 30px;
    margin: 0px -10px 0px;
    font-size: 54px;
    z-index: 2;
    padding: 0px;
}

.borderRight {
    background: linear-gradient(#A32F2F, #DC3C3C);
    border-radius: 30px;
    font-size: 36px;
    padding-top: 10px;
    z-index: 1;
}

/*.border img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}*/

.second {
    width: 100%;
    height: 300vh;
    background: url("../img/second.JPG") no-repeat content-box;
    background-size: 100% auto;
    margin: 0px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
}

.secondMenu {
    display: none;
}

.second .leksikaGram {
    width: 466px;
    height: 588px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    margin: 50px;
    padding: 10px;
}

.second .tehnology{
    width: 466px;
    height: 588px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    margin: 50px;
    padding: 10px;
}

.second .practice{
    width: 466px;
    height: 588px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    margin: 50px;
    padding: 10px;
}

.second h2{
    font-size: 32px;
    font-weight: 600;

}

.second p{
    font-size: 28px;
    font-weight: normal;
}

.third{
    width: 100%;
    height: 100vh;
    background: url("../img/third.jpg") no-repeat;
    background-size: 100% auto;
    margin: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.thirdH{
    /*width: 1075px;*/
    /*height: 500px;*/
    background: rgba(255, 255, 255, 0.55);
    border-radius: 30px;
    margin: 10px;
    padding: 0px;
    align-items: center;
    /*margin-left: 120px;*/
    /*margin-top: 0px;*/
}

h3{
    font-size: 54px;
    font-weight: 600;
}

.thirdDialog {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 30px;
    margin: 0px 140px 10px;
    padding: 10px;
    align-items: center;
}

.third p{
    font-size: 36px;
    font-weight: normal;
    margin: 50px;
}

.fourth{
    width: 100%;
    height: 260vh;
    background: url("../img/fourth.JPG") no-repeat;
    background-size: 100% auto;
    margin: 0px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.fourth .fourthH{
    background: rgba(255, 255, 255, 0.55) center;
    border-radius: 30px;
    margin: 50px 350px 50px;
}

h4{
    font-size: 52px;
    font-weight: 600;
}

.fourthMenu{
    background: rgba(255, 255, 255, 0.65) center;
    border-radius: 30px;
    margin: 30px 120px 30px;
    padding: 20px;
    font-size: 36px;
    font-weight: 600;
}

.fourth .fourthDialog{
    background: rgba(255, 255, 255, 0.75) center;
    border-radius: 30px;
    margin: -40px 120px 20px;
    padding: 20px;
    font-size: 36px;
    font-weight: 600;
    /*display: none;*/
}

.fifth{
    width: 100%;
    height: 250vh;
    background: url("../img/fifth.jpg") no-repeat;
    background-size: 100% auto;
    margin: 0px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.fifthRectangle{
    background: rgba(255, 255, 255, 0.75) center;
    border-radius: 30px;
    margin: 40px 120px 40px;
    padding: 20px;
    padding-top: 0px;
}

h5{
    font-size: 52px;
    font-weight: 600; 
}

.fifthRectangle p{
    font-size: 32px;
    font-weight: 600;
}

.sixth{
    width: 100%;
    height: 180vh;
    background: url("../img/six.jpg") no-repeat;
    background-size: cover;
    margin: 0px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.sixth .ProgramMonth{
    background: rgba(255, 255, 255, 0.7) center;
    border-radius: 30px;
    margin: 30px;
    padding: 15px;
    font-size: 44px;
    font-weight: 600;
}

.sixth .sixDialog{
    /*display: none;*/
    background: rgba(255, 255, 255, 0.85) /*center*/;
    border-radius: 30px;
    margin: 10px;
    padding: 0px;
    margin-top: -180px;
    z-index: 2;
}

.sixDialog h1{
    font-size: 26px;
    font-weight: 900;
}

.sixDialog h2{
    font-size: 24px;
    font-weight: 600;
}

.sixDialog p{
    font-size: 24px;
    font-weight: normal;
}

#sixDialog1{
    grid-column: 1;
    margin-top: -305px;
    /*display: block;*/
}


#sixDialog2{
    grid-column: 2;
    margin-top: -305px;
    /*display: block;*/
}

#sixDialog3{
    grid-column: 3;
    /*display: block;*/
}

.seventh{
    width: 100%;
    height: 160vh;
    background: url("../img/seventh.jpg") no-repeat;
    background-size: cover;
    margin: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seventhMenu {
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    font-size: 36px;
    font-weight: 600;
}

.seventhH {
    background: rgba(255, 255, 255, 0.8) /*center*/;
    border-radius: 20px;
    margin: 20px;
    margin-top:60px;
    padding: 10px;
    font-size: 52px;
    font-weight: normal;
}

.seventhVar{
    width: 735px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    margin: 10px;
    padding: 0px;
    padding-bottom: 10px;
    z-index: 3;
}

#close {
    background: url("../img/close.png");

}

.seventhVar h1{
    font-size: 40px;
    font-weight: 600;
}

.price p1{
    font-size: 28px;
    font-weight: 600;
    color: red;
}

.price p2{
    font-size: 26px;
    font-weight: normal;
    color: rgba(84, 81, 81, 0.8);
    text-decoration: line-through;
}

.seventhVar p{
    font-size: 26px;
    font-weight: normal; 
}

.buttonVarBuy{
    background: linear-gradient(#DC3C3C, #A32F2F);
    border-radius: 15px;
    font-size: 26px;
    font-weight: normal;
    color: black;
    margin: 10px 120px 10px;
    padding: 10px;

}

.commentary p{
    font-size: 14px;
    font-weight: normal;
    color: 3D3B3B;
}



.FAQ {
    width: 100%;
    height: 290vh;
    background: url("../img/faq.JPG") no-repeat;
    background-size: cover;
    margin: 0px;
    margin-bottom: 20px;
}

.faqH {
    background: rgba(255, 255, 255, 0.75) center;
    border-radius: 30px;
    margin: 60px 150px 30px;
    padding: 15px;
    font-size: 54px;
    font-weight: 600;
}

.question {
    background: rgba(255, 255, 255, 0.75) center;
    border-radius: 30px;
    margin: 30px 60px 30px;
    padding: 15px;
    font-size: 36px;
    font-weight: normal;

}

.faqDialog {
    background: rgba(255, 255, 255, 0.9) center;
    border-radius: 35px;
    margin: 0px 0px 30px;
    margin-top: -30px;
    padding: 15px;
    /*display:none;*/
}

.faqDialog h8 {
    font-size: 36px;
    font-weight: normal;
}

.faqDialog p {
    font-size: 26px;
    font-weight: normal;
}

.footer {
    width: 100%;
    height: 120vh;
    background: url("../img/footer.jpg") no-repeat;
    background-size: cover;
    margin: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerH {
    background: rgba(255, 255, 255, 0.55) center;
    border-radius: 45px;
    margin: 0px 200px 30px;
    padding: 15px;
    font-size: 52px;
}

.footerH2 {
    background: rgba(255, 255, 255, 0.55) center;
    border-radius: 45px;
    margin: 140px 300px 20px;
    font-weight: normal;
}

.footerH2 h{
    font-size: 46px;
    
}

.footerH2 p{
    font-size: 30px;
}

.footer .button2 {
    width: 460px;
    background: #D84F24;
    border: 5px;
    border-color: #2931DD;
    border-style: solid;
    border-radius: 30px;
    font-size: 42px;
    font-weight: 700;
    color: black;
    /*margin: 10px 160px 10px;*/
    padding: 0px;
}
.message {
    width: 300px;
    height: 150px;
    border-radius: 4px;
    background: url("../img/message-bg.jpg") content-box;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
     margin: auto;
    display: none;
     opacity: 0;
     z-index: 38;
    text-align: center;
    font-size: 24px;
    color:white;
}

#message #myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
}

#message2 #myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
}