@media (max-width: 580px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        align-items: center;
        text-align: center;
    }

    .header {
        width: 100%;
        /*height: 170px;*/
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 18px;
    }

    .header .logo img {
        width: 220px;
        height: 120px;
    } 

    .header .name {
        display: flex;
        flex-direction: column;
        margin: -50px auto 0px;
    }
    .header .name h1 {
        font-size: 90px;
        font-family: Alice;
        background: linear-gradient(to right, rgb(193,49,39,1), rgb(42,101,48,1)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-top: 0px;
    }
    .header .name h2 {
        font-family: Amatic SC;
        font-size: 48px;
        text-align: center;
        margin-top: 0px;
    }

    .header .phone {
        margin-top: 0px;
        font-weight: 600;
        margin-top: -30px;
        margin-bottom: 0px;
    }

    .header .seoTXTheader {
        font-size: 19px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .header .adress {
        font-size: 10px;
        margin-top: 15px;
        margin: 5px auto 0px;
    }

    .header .social {
        display: none;
    }


    .menu {
        width: 100%;
        height: 50px;
        position: relative;
        display: inline-block;
        border: none;
        margin: 40px auto 10px;
    }
    
    .burgerMenu {
        width: 100%;
        height: 45px;
        background: #638A52;
        display: block;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 32px;
        border: none;
    }

    .contentMenu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        align-items: center;
    }
    
    .contentMenu h3{
        font-size: 30px;
        color:black;
        margin-bottom: 10px;
    }
    
    .contentMenu a{
        color: gray;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 28px;
    }

    .contentMenu a:hover {
        background-color: #ddd;
    }
    
    .menu:hover .contentMenu {
        display: block;
    }

       
    .menu .contentMenu .lang {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        color: grey;
        font-size: 28px;
        margin-left: 120px;
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
    .about img {
        width: 350px;
        height: 240px;
    }
    
    .about p {
        font-size: 18px;
        text-align: center;
        margin: 10px;
    }



    .services {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
    .services img {
        width: 350px;
        height: 240px;
    }
    
    .services p {
        font-size: 18px;
        text-align: center;
        margin: 10px;
    }

    .promo {
        width: 100%;
        background: url("../img/promo-bg.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .promo h3 {
        font-size: 30px;
        color: white;
    }
    
    .promos {
        display: flex;
        align-items: center;
    }
    
    .promo .promo1 {
        width: 330px;
        height: 340px;
        display: flex;
        flex-direction: column;
        background: url("../img/фон.jpg");
        align-items: center;
        text-align: center;
        margin: 20px;
    }
    .promo .promo1 p{
        font-size: 18px;
    }
    
    .promo .promo1 img {
        width: 110px;
        height: 120px;
        margin: 0px;
        margin-top: -15px;
    }

    .roadmap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #F8F0F0;
        font-size: 22px;
        color: #638A52;
    }
    
    .roadmap h3 {
        font-size: 36px;
    }
    
    .googleMaps {
        display: none;
    }
    
    .roadmap .adress p{
        font-size: 18px;
    }

    .footer {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer .logo img{
        width: 190px;
        height: 110px;
    }

    .footer .name {
        margin-top: -30px;
    }
    
    .footer .name h1 {
        font-size: 64px;
        font-family: Alice;
        background: linear-gradient(to right, rgb(193,49,39,1), rgb(42,101,48,1)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
    
    .footer .name h2 {
        font-size: 36px;
        font-family: Amatic SC;
        margin-top: -30px;
    }
    
    .footer .adress {
        font-size: 12px;
    }

}